.wrapper{
  display: flex;
  flex-direction: column;
  border-bottom: 10px solid #FB4848 ;
  border-top: 40px solid #FB4848 ;
  border-left: 10px solid #FB4848 ;
  border-right: 10px solid #FB4848 ;
  border-radius: 10px;
  padding: 15px;
}
.icon-bar-v {
  width: 90px; /* Set a specific width */
  background-color: #969696; /*background */
}

.icon-bar-v a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font-size */
}

.icon-bar-v a:hover {
  background-color: #000; /* Add a hover color */
}

.icon-bar-active {
  background-color:#FB4848; /* Add an active/current color */
}

/*horizontal======================================================*/
.icon-bar-h {
  width: 100%; /* Full-width */
  background-color: #969696; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar-h a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar-h a:hover {
  background-color: #000; /* Add a hover color */
}

