.wrapper{
  display: flex;
  flex-direction: column;

  border-bottom: 10px solid #FB4848 ;
  border-top: 40px solid #FB4848 ;
  border-left: 10px solid #FB4848 ;
  border-right: 10px solid #FB4848 ;
  border-radius: 10px;
  padding: 15px;
}
.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 15px;
  background-color: #555;
  color: white;
  cursor: pointer;
}

.tab:hover {
  background-color: #777;
}

.tabcontent {
  display: none;
  padding: 50px;
  text-align: center;
}

#Tab1 { background-color: red; }
#Tab2 { background-color: green; }
#Tab3 { background-color: blue; }
#Tab4 { background-color: orange; }

.active {
  background-color: var(--active-color);
}