/* Style the tab */
.wrapper{
  display: flex;
  flex-direction: column;
  border-bottom: 10px solid #FB4848 ;
  border-top: 40px solid #FB4848 ;
  border-left: 10px solid #FB4848 ;
  border-right: 10px solid #FB4848 ;
  border-radius: 10px;
  padding: 15px;
}
 .tab {
  overflow: hidden;
  border: 1px solid black;
  background-color: #FB4848;
  
}

/* Style the buttons that are used to open the tab content */
 .tab button {
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
 .tab button:hover {
  background-color: #fe9595;
  color: black;
}

/* Create an active/current tablink class */
 .tab button:active {
  background-color: #fe9595;
  color: black;
}

/* Style the tab content */
 .tabcontent {
  display: none;
  padding: 6px 20px;
  border: 1px solid #dedede;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color:#FB4848;}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}