.wrapper{
  
  display: flex;
  border: 1px solid black;
  border-bottom: 10px solid #FB4848 ;
  border-top: 40px solid #FB4848 ;
  border-left: 10px solid #FB4848 ;
  border-right: 10px solid #FB4848 ;
  border-radius: 10px;
  padding: 15px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  display: flex;
  width: 100%;
  padding: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  padding: 10px;

  transition: background-color 0.3s, color 0.3s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #FB4848;
  color: white;
}
