.wrapper{
  display: flex;
  border: 1px solid black;
  border-bottom: 10px solid #FB4848 ;
  border-top: 40px solid #FB4848 ;
  border-left: 10px solid #FB4848 ;
  border-right: 10px solid #FB4848 ;
  border-radius: 10px;
  padding: 15px;
}